<footer class="footer-area section-padding-100-0 bg-img bg-overlay" style="background-image: url(img/bg-img/bg-11.jpg);">
  <div class="main-footer-area">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="footer-widget-area mb-50">
            <div class="widget-title">
              <%= link_to image_tag("logo.png"), root_path, class: "nav-brand" %>
            </div>
            <p class="mb-30"></p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="footer-widget-area mb-50">
            <div class="widget-title">
              <h6>Opinie klientów</h6>
            </div>
            <div class="testimonials-slides owl-carousel">
              <div class="single-slide">
                <div class="single-testimonial">
                  <p>“ Dzięki treningom można zaoszczędzić dużo czasu oraz osiągnąć o wiele szybsze efekty. Polecam!</p>
                  <span>Artur Nowak</span>
                </div>
                <div class="single-testimonial">
                  <p>“ Doskonale miejsce z super obsługa. </p>
                  <span>Julia Sosnowska</span>
                </div>
              </div>
              <div class="single-slide">
                <div class="single-testimonial">
                  <p>“Polecam 100% zadowolenia! pozytywne zaskoczenie</p>
                  <span>Anna Kowalska</span>
                </div>
                <div class="single-testimonial">
                  <p>“ Super firma, profesjonalny sprzęt jak i podejście trenerów. Polecam ! </p>
                  <span>Patrycja Wozniak</span>
                </div>
              </div>
              <div class="single-slide">
                <div class="single-testimonial">
                  <p>“ Przesympatyczna obsługa i miejsce godne polecenia.</p>
                  <span>Aleksandra Przybysz</span>
                </div>
                <div class="single-testimonial">
                  <p>“ Polecam z czystym sumieniem! Obsługa 6! Atmosfera mega!</p>
                  <span>Bartek Bagiński</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="footer-widget-area mb-50">
            <div class="widget-title"> </div>
            <nav>
              <ul class="fitness-classes">
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="footer-widget-area mb-50">
            <div class="widget-title">
              <h6>Kontakt</h6>
            </div>
            <div class="single-contact mb-30">
              <span>Adres:</span>
              <p>Grunwaldzka 43 <br>Gdańsk, 80-222</p>
            </div>
            <div class="single-contact mb-30">
              <span>Telefon:</span>
              <p>+48 666 777 666</p>
            </div>
            <div class="single-contact mb-30">
              <span>Email:</span>
              <p>gymtime@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-footer-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p><i class="fa fa-heart-o" aria-hidden="true"></i> UG</p>
        </div>
      </div>
    </div>
  </div>
</footer>
